name: First Workflow
on: workflow_dispatch
jobs: 
  first-job:
    runs-on: ubuntu-latest
    steps:
      - name: Print Greeting
        run: echo "Hello worlf"
      - name: pRINT gOODBYE
        run: echo "Done Bye"
      
